
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100; /* Define uma camada acima do conteúdo principal */
}

.cabecalho {
  background-color: #581bad !important;
}

.footer {
  background-color: #591BAD !important;
}

#rodape {
  margin-top: 40px;
  height: 100%;
  width: 100% !important;
}

.navbar {
  position: relative;
  z-index: 2;
  /* Define a ordem de sobreposição da navbar */
}

.mskUp{
  display: flex;
  width: 100%;
  margin: auto;
}

#background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 1;
  /* Define a ordem de sobreposição da imagem */
}
#rodape {
  margin-top: 40px;
  height: 100%;
  width: 100% !important;
}

#box {
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.5);
  border-radius: 10px 0px 0px 0px;
  margin: 2%;
}

#box2 {
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.5);
  border-radius: 0px 10px 0px 0px;
  margin: 2%;
  margin-bottom: 0px;
}

#box3 {
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.5);
  border-radius: 0px 0px 0px 10px;
  margin: 2%;
  margin-top: 2px;
}

#box4 {
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.5);
  border-radius: 0px 0px 10px 0px;
  margin: 2%;
}

#local {
  padding-left: 2rem;
  padding-right: 2rem;
}

#icon {
  width: 3rem;
  margin-right: 10px;
  margin-top: 8px;
}

#formatacaoFormulario {
  border-radius: 0px 10px 0px 10px;
  background-color: #c2a4fd;
}

#botaoEnviarFaleConosco {
  background-color: #591BAD;
  color: white;
  border-radius: 10px 0px 10px 0px;
  margin-top: 5%;
  margin-left: 5%;
  margin-right: 2%;
  margin-bottom: 2%;
}

#imagem {
  margin-top: 2%;
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 2%;
}

#titulo {
  margin-top: 25px;
  margin-bottom: 3%;
  color: #591BAD;
}

#texto {
  color: #591BAD;
}